body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8%;
}

header {
    background-color: #081a24;
}

header nav {
    height: 50px;
    max-width: 850px;
    margin-left: 20%;
}

header nav img {
    float: left;
    margin: 6px;
}

header nav ul {
    float: right;
}

header nav ul li {
    margin: 0 10px;
    display: inline-block;
}

header nav ul li a {
    padding: 5px 20px;
    color: #225559;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid transparent;
}

header nav ul li a:hover {
    border: 1px solid #225559;
}

header .header-slider img {
    width: 100%;
}

.secao-portfolio {
    margin: 8%;
    text-align: center;
}

.secao-portfolio h1 {
    font-size: 2.5em;
}

.secao-portfolio p {
    font-size: 1em;
    line-height: 35px;
    letter-spacing: 1px;
}

.secao-galeria {
    text-align: center;
}

.secao-galeria article {
    margin: 0 auto;
    display: inline-block;
}

.secao-galeria article h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #1b3e50;
}

.secao-galeria article p {
    color: #9a9a9c;
}

.secao-sobre {
    background: #003d52 url(img/bg_detalhe.png) bottom right no-repeat;
    color: white;
    padding: 8%;
}

.secao-sobre h2 {
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
}

.secao-sobre p {
    width: 55%;
    font-size: 1em;
    line-height: 25px;
}

.secao-contato {
    text-align: center;
    font-size: 1.5em;
}

.secao-contato h3 {
    color: #003d52;
    text-transform: uppercase;
    padding: 5%;
}

footer {
    background-color: #001018;
    text-align: center;
    margin-top: 5%;
    padding: 1px;
}

footer p {
    padding: 10px;
    letter-spacing: 5px;
    color: #4e8a9b;
    font-size: 12px;
}