body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8%;
}

header {
    background-color: #081a24;
}

header .menu {
    height: 50px;
    max-width: 850px;
}

header .menu img {
    float: left;
    margin: 10px;
    margin-top: 10px;
}

header .menu ul {
    float: right;
}

header .menu ul li {
    margin: 0 10px;
    display: inline-block;
}

header .menu ul li a {
    padding: 5px 20px;
    color: #225559;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid transparent;
}

header .menu ul li a:hover {
    border: 1px solid #225559;
}

header .header-slider img {
    width: 100%;
}

label {
    color: white;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle 
{
    display: none;
}

.secao-portfolio {
    margin: 8%;
    text-align: center;
}

.secao-portfolio h1 {
    font-size: 2.5em;
}

.secao-portfolio p {
    font-size: 1em;
    line-height: 35px;
    letter-spacing: 1px;
}

.secao-galeria {
    text-align: center;
}

.secao-galeria article {
    margin: 0 auto;
    display: inline-block;
}

.secao-galeria article h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #1b3e50;
}

.secao-galeria article p {
    color: #9a9a9c;
}

.secao-sobre {
    background: #003d52 url(img/bg_detalhe.png) bottom right no-repeat;
    color: white;
    padding: 8%;
}

.secao-sobre h2 {
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
}

.secao-sobre p {
    width: 55%;
    font-size: 1em;
    line-height: 25px;
}

.secao-contato {
    text-align: center;
    font-size: 1.5em;
}

.secao-contato h3 {
    color: #003d52;
    text-transform: uppercase;
    padding: 5%;
}

footer {
    background-color: #001018;
    text-align: center;
    margin-top: 5%;
    padding: 1px;
}

footer p {
    padding: 10px;
    letter-spacing: 5px;
    color: #4e8a9b;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    label {
        display: block;
        cursor: pointer;
    }

    header .menu img {
        margin: 20px;
    }

    .menu ul {
        text-align: right;
        display: none;
        width: 50%;
        
    }

    .menu ul a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    #toggle:checked + .menu ul {
        display: block;
    }
}